<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>v-admin</display-name>
	
	<!-- session超时配置 -->
  	<session-config>
    	<session-timeout>30</session-timeout>
  	</session-config>
  	
	<!-- 指定spring 配置信息 -->
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>
	<filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--  配置Login Check 过滤器 -->
	<filter>
		<filter-name>loginCheck</filter-name>
		<filter-class>com.pub.util.filter.LoginCheck</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>loginCheck</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

    <!-- 指定spring 配置信息 -->  
	<listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
    <!-- 自定义监听器 -->
    <listener>
        <listener-class>
            com.pub.util.listener.ContextListener
        </listener-class>
    </listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml
		</param-value>
	</context-param>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
  
  	<!-- 
  	<error-page> 
		<error-code>403</error-code> 
		<location>/admin/error.jsp</location> 
	</error-page> -->
	<error-page> 
		<error-code>404</error-code> 
		<location>/admin/error.jsp</location> 
	</error-page> 
	<!-- 
	<error-page> 
		<error-code>500</error-code> 
		<location>/admin/error.jsp</location> 
	</error-page>  -->
</web-app>
