<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.dao.SysRoleRFMapper" >
	<select id="selectIDFromRFByResIdAndFuncId" resultType="java.lang.Integer">
		select r.rfid from sys_rf r where r.resid = #{resid,jdbcType=INTEGER} and r.funcid = #{funcid,jdbcType=INTEGER}
	</select>
	<insert id="insertIntoRoleRF">
	 insert into sys_role_rf(rid, rfid) 
	 values(#{rid,jdbcType=INTEGER}, #{rfid,jdbcType=INTEGER})
	</insert>
	<delete id="deleteRoleRFByRid" parameterType="java.lang.Integer">
	 delete from sys_role_rf 
	 where rid = #{rid,jdbcType=INTEGER}
	</delete>
</mapper>
