<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.dao.SysUserMapper" >

  <resultMap id="BaseResultMap" type="com.sys.vo.SysUser" >
    <id column="UID" property="uid" jdbcType="INTEGER" />
    <result column="RID" property="rid" jdbcType="INTEGER" />
    <result column="DID" property="did" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="TRUENAME" property="truename" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="LAST_IP" property="lastIp" jdbcType="VARCHAR" />
    <result column="ENABLE" property="enable" jdbcType="CHAR" />
    <result column="DELETED" property="deleted" jdbcType="CHAR" />
    <result column="UPDATED" property="updated" jdbcType="TIMESTAMP" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="MENDER" property="mender" jdbcType="VARCHAR" />
    <association property="sysRole" javaType="com.sys.vo.SysRole">
	  	<id column="R_RID" property="rid" jdbcType="INTEGER" />
	    <result column="RNAME" property="rname" jdbcType="VARCHAR" />
	    <result column="R_ENABLE" property="enable" jdbcType="VARCHAR" />
	    <result column="R_PARENT_ID" property="parentId" jdbcType="INTEGER" />
	    <result column="R_IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
  	</association>
    <association property="sysDepartment" javaType="com.sys.vo.SysDepartment">
	  	<id column="D_DID" property="did" jdbcType="INTEGER" />
	    <result column="DNAME" property="dname" jdbcType="VARCHAR" />
	    <result column="D_MEMO" property="memo" jdbcType="VARCHAR" />
	    <result column="D_ENABLE" property="enable" jdbcType="VARCHAR" />
	    <result column="D_PARENT_ID" property="parentId" jdbcType="INTEGER" />
	    <result column="D_IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
  	</association>
  </resultMap>
  <resultMap id="ResFuncResultMap" type="com.sys.vo.SysResFuncRelation">
  	<id column="RFID" property="rfid" jdbcType="INTEGER"/>
  	<association column="RESID" property="sysResource" javaType="com.sys.vo.SysResource">
  		<id column="RESID" property="resid" jdbcType="INTEGER" />
	    <result column="RES_NAME" property="resName" jdbcType="VARCHAR" />
	    <result column="RES_URL" property="url" jdbcType="VARCHAR" />
	    <result column="RES_MEMO" property="memo" jdbcType="VARCHAR" />
	    <result column="RES_PRIO" property="prio" jdbcType="INTEGER" />
	    <result column="RES_RTYPE" property="rtype" jdbcType="CHAR" />
	    <result column="RES_IS_PARENT" property="isParent" jdbcType="CHAR" />
	    <result column="RES_PARENT_ID" property="parentId" jdbcType="INTEGER" />
	    <result column="RES_LEVEL" property="resLevel" jdbcType="INTEGER" />
	    <result column="RES_CODE" property="resCode" jdbcType="VARCHAR" />
	    <result column="RES_IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
  	</association>
  	<association column="FUNCID" property="sysFunction" javaType="com.sys.vo.SysFunction">
	  	<id column="FUNCID" property="funcid" jdbcType="INTEGER" />
	    <result column="FUNC_NAME" property="funcName" jdbcType="VARCHAR" />
	    <result column="FUNC_MEMO" property="memo" jdbcType="VARCHAR" />
	    <result column="FUNC_IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
  	</association>
  </resultMap>
  <resultMap id="FuncResultMap" type="com.sys.vo.SysFunction">
  	<id column="FUNCID" property="funcid" jdbcType="INTEGER" />
	    <result column="FUNC_NAME" property="funcName" jdbcType="VARCHAR" />
	    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
	    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID, RID, DID, USERNAME, PASSWORD, TRUENAME, MOBILE, TEL, FAX, EMAIL, ADDRESS, LAST_TIME, 
    LAST_IP, ENABLE, DELETED, UPDATED, CREATED, CREATOR, MENDER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sys.vo.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
   	UID, u.rid, r.RID r_rid, u.did, d.DID d_did, USERNAME, PASSWORD, TRUENAME, MOBILE, TEL, FAX, EMAIL, ADDRESS, LAST_TIME, 
    LAST_IP, u.ENABLE, u.DELETED, u.UPDATED, u.CREATED, u.CREATOR, u.MENDER, 
    r.rname, r.enable r_enable, r.parent_id r_parent_id, r.img_url r_img_url, 
    d.dname, d.memo d_memo, d.enable d_enable, d.parent_id d_parent_id, d.img_url d_img_url
    from sys_user u left join sys_role r on u.rid = r.rid left join sys_dept d on u.did = d.did
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectPageByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example != null and example.distinct" >
      distinct
    </if>
    UID, u.rid, r.RID r_rid, u.did, d.DID d_did, USERNAME, PASSWORD, TRUENAME, MOBILE, TEL, FAX, EMAIL, ADDRESS, LAST_TIME, 
    LAST_IP, u.ENABLE, u.DELETED, u.UPDATED, u.CREATED, u.CREATOR, u.MENDER, 
    r.rname, r.enable r_enable, r.parent_id r_parent_id, r.img_url r_img_url, 
    d.dname, d.memo d_memo, d.enable d_enable, d.parent_id d_parent_id, d.img_url d_img_url
    from sys_user u left join sys_role r on u.rid = r.rid left join sys_dept d on u.did = d.did
    <if test="example != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    limit #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="selectResFuncByUserId" resultMap="ResFuncResultMap" parameterType="java.lang.Integer">
  	select rf.rfid, rf.resid, rf.funcid, res.resid, res.res_name, res.url res_url, res.prio res_prio, res.rtype res_rtype, 
  	res.is_parent res_is_parent, res.parent_id res_parent_id, res.res_level, res.res_code, res.img_url res_img_url,
  	func.funcid, func.func_name, func.img_url func_img_url,func.memo FUNC_MEMO
  	from sys_rf rf left join sys_res res on rf.resid = res.resid left join sys_func func on rf.funcid = func.funcid 
  	where rf.rfid in (select rfid from sys_user_rf where uid = #{uid,jdbcType=INTEGER})
  </select>
  <select id="selectFuncByUidAndResCode" resultMap="FuncResultMap">
  	select f.* from sys_rf rf join sys_res r on rf.resid = r.resid join sys_func f on rf.funcid = f.funcid
	 where r.res_code = #{resCode,jdbcType=VARCHAR} and rf.rfid in (select rfid from sys_user_rf where uid = #{uid,jdbcType=INTEGER})
  </select>
  <select id="selectURFIDByUidAndResCodeAndFunc" resultType="java.lang.Integer">
  	select urf.urfid from sys_user_rf urf 
 	where urf.uid = #{uid,jdbcType=INTEGER} and urf.rfid = (select rf.rfid 
 									  from sys_rf rf join sys_res r on rf.resid = r.resid join sys_func f on rf.funcid = f.funcid 
 									  where r.res_code = #{resCode,jdbcType=VARCHAR} and f.memo = #{funcMemo,jdbcType=VARCHAR})
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
   	UID, u.rid, r.RID r_rid, u.did, d.DID d_did, USERNAME, PASSWORD, TRUENAME, MOBILE, TEL, FAX, EMAIL, ADDRESS, LAST_TIME, 
    LAST_IP, u.ENABLE, u.DELETED, u.UPDATED, u.CREATED, u.CREATOR, u.MENDER, 
    r.rname, r.enable r_enable, r.parent_id r_parent_id, r.img_url r_img_url, 
    d.dname, d.memo d_memo, d.enable d_enable, d.parent_id d_parent_id, d.img_url d_img_url
    from sys_user u left join sys_role r on u.rid = r.rid left join sys_dept d on u.did = d.did
    where u.UID = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where UID = #{uid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sys.vo.SysUserExample" >
    delete from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sys.vo.SysUser" >
    insert into sys_user (UID, RID, DID, 
      USERNAME, PASSWORD, TRUENAME, 
      MOBILE, TEL, FAX, EMAIL, 
      ADDRESS, LAST_TIME, LAST_IP, 
      ENABLE, DELETED, UPDATED, 
      CREATED, CREATOR, MENDER
      )
    values (#{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{truename,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, #{lastIp,jdbcType=VARCHAR}, 
      #{enable,jdbcType=CHAR}, #{deleted,jdbcType=CHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{created,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{mender,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sys.vo.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="rid != null" >
        RID,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="truename != null" >
        TRUENAME,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
      <if test="lastIp != null" >
        LAST_IP,
      </if>
      <if test="enable != null" >
        ENABLE,
      </if>
      <if test="deleted != null" >
        DELETED,
      </if>
      <if test="updated != null" >
        UPDATED,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="mender != null" >
        MENDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null" >
        #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=CHAR},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="mender != null" >
        #{mender,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sys.vo.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user
    <set >
      <if test="record.uid != null" >
        UID = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.rid != null" >
        RID = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.did != null" >
        DID = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.truename != null" >
        TRUENAME = #{record.truename,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastIp != null" >
        LAST_IP = #{record.lastIp,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null" >
        ENABLE = #{record.enable,jdbcType=CHAR},
      </if>
      <if test="record.deleted != null" >
        DELETED = #{record.deleted,jdbcType=CHAR},
      </if>
      <if test="record.updated != null" >
        UPDATED = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.created != null" >
        CREATED = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.mender != null" >
        MENDER = #{record.mender,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user
    set UID = #{record.uid,jdbcType=INTEGER},
      RID = #{record.rid,jdbcType=INTEGER},
      DID = #{record.did,jdbcType=INTEGER},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      TRUENAME = #{record.truename,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      TEL = #{record.tel,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      LAST_IP = #{record.lastIp,jdbcType=VARCHAR},
      ENABLE = #{record.enable,jdbcType=CHAR},
      DELETED = #{record.deleted,jdbcType=CHAR},
      UPDATED = #{record.updated,jdbcType=TIMESTAMP},
      CREATED = #{record.created,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      MENDER = #{record.mender,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.vo.SysUser" >
    update sys_user
    <set >
      <if test="rid != null" >
        RID = #{rid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        DID = #{did,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        TRUENAME = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null" >
        LAST_IP = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        ENABLE = #{enable,jdbcType=CHAR},
      </if>
      <if test="deleted != null" >
        DELETED = #{deleted,jdbcType=CHAR},
      </if>
      <if test="updated != null" >
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="mender != null" >
        MENDER = #{mender,jdbcType=VARCHAR},
      </if>
    </set>
    where UID = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.vo.SysUser" >
    update sys_user
    set RID = #{rid,jdbcType=INTEGER},
      DID = #{did,jdbcType=INTEGER},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TRUENAME = #{truename,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      LAST_IP = #{lastIp,jdbcType=VARCHAR},
      ENABLE = #{enable,jdbcType=CHAR},
      DELETED = #{deleted,jdbcType=CHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MENDER = #{mender,jdbcType=VARCHAR}
    where UID = #{uid,jdbcType=INTEGER}
  </update>
</mapper>